[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-exercisetimer
Exec=harbour-exercisetimer
Name=Tempo
Name[fi]=Piiskuri
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
#Name[de]=harbour-exercisetimer

[X-Sailjail]
# Replace with your organization as a reverse domain name
OrganizationName=io.github.teekesti
# ApplicationName does not have to be identical to Name
ApplicationName=Tempo
# Add the required permissions here
Permissions=Audio
